.ql-editor {
	padding: 0;
}

.ql-container.ql-snow {
	border: none;
	border-radius: 0.5rem;
	background-color: #21282b;
	padding: 1.5rem;
}

.ql-toolbar.ql-snow + .ql-container.ql-snow {
	border-top: none;
}

.ql-toolbar.ql-snow {
	display: none;
}
